<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Recipe</title>
	<link href="static/css/style.css" rel="stylesheet">
</head>
<body class="pic">
    <div class="header-wrapper"><header id="navigation">
        <div class="left"><h1>Recipe</h1></div>
            <div class="right">
                <ul>
                    <li><a href="#">Welcome</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
        </div>
    </header>
    </div>
    <div id='center'>
	<section id="content-add" >
        <h2>Add list</h2>
				<form id="add" name="login" method="POST" action="">
					{% if error %}
					<p class=error><strong>Error:</strong>{{ error }}</p>
					{% endif %}
						<p>Back to lists<a href="/index"> Click here</a></p>
						<input type="text" name='list_name' placeholder="Recipe category name"/>
						<input type="text" name='items' placeholder="Recipe"/>
						<input id="btn" type="submit" value="add"/>
				</form>
</section>
    </div>
<footer id="footer">
		<div id="center">
			<div class="text-center">
				<p>Copyright &copy; 2017 - <a href="#home">Yummy Recipe</a> | All Rights Reserved</p>
			</div>
		</div>
	</footer>

</body>
</html>
