<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Recipe</title>
	<link href="/static/css/style.css" rel="stylesheet">
</head>
<body class="pic">
    <div class="header-wrapper"><header id="navigation">
        <div class="left"><h1>Recipe</h1></div>
            <div class="right">
                <ul>
                    <li><a href="#">Welcome</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
        </div>
    </header>
    </div>
    <div id='center'>
	<section id="content-item">
				<h2>Your {{recipe_name}} recipe Items</h2>
				<ul class="list">
				{% for item in items%}
					<li><a class="item"> {{ item }}</a><a class="side" href="/updatelistitem/{{recipe_name}}/{{ item }}">edit</a><a class="side" href="/delete/{{recipe_name}}/{{ item }}">delete</a></li>
				{% endfor %}
			</ul>
           <div class="add">
               <p><a href="/add_item/{{recipe_name}}">Add Item</a></p>
               <p><a href="/index">Back</a></p>
        </div>

</section>

    </div>
<footer id="footer">
		<div id="center">
			<div class="text-center">
				<p>Copyright &copy; 2017 - <a href="#home">Yummy Recipe</a> | All Rights Reserved</p>
			</div>
		</div>
	</footer>

</body>
</html>
